---
import { useEffect } from "react";
import twikoo from "twikoo";

useEffect(() => {
  twikoo.init({
    envId: "https://twikoo-cloudflare.fireflyshen.workers.dev", // 替换为你的Cloudflare Worker地址
    el: "#tcomment", // 容器元素选择器
  });
}, []);
---

<div id="tcomment"></div>
<script src="https://cdn.staticfile.net/twikoo/1.6.36/twikoo.all.min.js"
></script>
