---

---

<div id="twikoo"></div>

<!-- 在 HTML 中通过 CDN 引入 Twikoo -->
<script src="https://cdn.staticfile.net/twikoo/1.6.36/twikoo.all.min.js"
></script>
<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    if (typeof twikoo !== "undefined") {
      twikoo.init({
        envId: "https://twikoo-cloudflare.fireflyshen.workers.dev", // 替换为您的环境 ID
        el: "#twikoo",
      });
    } else {
      console.error("Twikoo is not loaded");
    }
  });
</script>
