---
import { useEffect } from "react";

const initTwikoo = async () => {
  if (typeof window !== "undefined" && typeof navigator !== "undefined") {
    const twikoo = await import("twikoo");
    twikoo.default.init({
      envId: "https://twikoo-cloudflare.fireflyshen.workers.dev", // 替换为你的Cloudflare Worker地址
      el: "#tcomment", // 容器元素选择器
    });
  }
};

useEffect(() => {
  initTwikoo();
}, []);
---

<div id="tcomment"></div>
<script src="https://cdn.staticfile.net/twikoo/1.6.36/twikoo.all.min.js"
></script>
