---

---

<div id="tcomment"></div>
<script src="https://cdn.staticfile.net/twikoo/1.6.36/twikoo.all.min.js"
></script>
<script>
  document.addEventListener("DOMContentLoaded", async function () {
    if (typeof window !== "undefined" && typeof navigator !== "undefined") {
      const { default: twikoo } = await import("twikoo");
      twikoo.init({
        envId: "https://twikoo-cloudflare.fireflyshen.workers.dev", // 替换为你的Cloudflare Worker地址
        el: "#tcomment", // 容器元素选择器
      });
    }
  });
</script>
